.idea/
*/.vscode/settings.json
*.log
~*.xlsx

scp_translate_chooser/result.md
scp_translate_chooser/temp.md

notification.html
dictvoice.mp3
recite_my_words/write_your_words_here.txt
recite_my_words/review-write_your_words_here.txt
recite_my_words/*.mp3
review-*.txt

automatic_textbook_downloader/Downloads/

random_chooser/source.txt

eco_probem_solving/eco_total_cost.py

hack_chat_related/chat_log_word_sources.txt
hack_chat_related/logs/*.log
hack_chat_related/searchbot/*.png

on_duty_noticer/data.json
on_duty_noticer/package/data.json

weather_forecast_downloader/download/

word_castle_database_tool/*.xml
word_castle_database_tool/*.db

*.key